  <h1 class="text-3xl font-extrabold tracking-tight text-left text-gray-900 sm:leading-none"><span class="relative px-4 mt-2 text-transparent bg-clip-text bg-gradient-to-br from-indigo-600 to-indigo-500">> Login </span></h1>
   <div class="bg-grey-lighter min-h-screen flex flex-col py-2">
        <div class="container max-w-sm mx-auto flex-1 flex flex-col items-center px-2">
            <div class="bg-white px-6 py-8 rounded shadow-md text-black w-full">
                <h1 class="mb-8 text-3xl text-center">Sign in</h1>
                <%= form_for @changeset, @action, [as: :user], fn f -> %>

                 <p class="alert alert-warning" role="alert"><%= get_flash(@conn, :info) %></p>
                 <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>


                <%= label f, Pow.Ecto.Schema.user_id_field(@changeset), class: "form-label" %>
                <%= text_input f, Pow.Ecto.Schema.user_id_field(@changeset), class: "block border border-grey-light w-full p-3 rounded mb-4" %>
                <%= error_tag f, Pow.Ecto.Schema.user_id_field(@changeset) %>

                <%= label f, :password, class: "form-label" %>
                <%= password_input f, :password, class: "block border border-grey-light w-full p-3 rounded mb-4" %>
                <%= error_tag f, :password %>

                <%= submit "Sign in", class: "w-full text-center py-3 rounded bg-indigo-600 text-white hover:bg-indigo-800 focus:outline-none my-1" %>
               <% end %>

            </div>
      <div class="text-grey-dark mt-6">

                    <a class="no-underline border-b border-blue text-blue" href=<%= Routes.pow_reset_password_reset_password_path(@conn, :new) %>>
                        Forgot your password?
                    </a>
                </div>
            <div class="text-grey-dark mt-6">
                <a class="no-underline border-b border-blue text-blue" href=<%= Routes.pow_registration_path(@conn, :new) %>>
                Don't have an Account, create one
                </a>
            </div>
        </div>
    </div>