/* base styling rules */
@import "tailwindcss/base";

/* Components */
@import "tailwindcss/components";

/* Utilities */
@import "tailwindcss/utilities";


/* element that contains the map. */
#map {
    height: 600px;
}

.axis {
    stroke: gray
}
