  <h1 class="text-3xl font-extrabold leading-10 tracking-tight text-left text-gray-900 sm:leading-none"><span class="relative px-4 mt-2 text-transparent bg-clip-text bg-gradient-to-br from-indigo-600 to-indigo-500 md:inline-block">> Create a Free Account</span></h1>

   <div class="bg-grey-lighter min-h-screen flex flex-col">
        <div class="container max-w-sm mx-auto flex-1 flex flex-col items-center justify-center px-2">
            <div class="bg-white px-6 py-8 rounded shadow-md text-black w-full">
                <h1 class="mb-8 text-3xl text-center">Sign up</h1>
                <%= form_for @changeset, @action, [as: :user], fn f -> %>
                  <%= if @changeset.action do %>
                        <div class="alert alert-danger">
                          <p>Oops, something went wrong! Please check the errors below.</p>
                        </div>
                  <% end %>

                <%= label f, Pow.Ecto.Schema.user_id_field(@changeset), class: "form-label" %>
                <%= text_input f, Pow.Ecto.Schema.user_id_field(@changeset), class: "block border border-grey-light w-full p-3 rounded mb-4" %>
                <%= error_tag f, Pow.Ecto.Schema.user_id_field(@changeset) %>

                <p class="text-red-900"><%= error_tag f, :password %></p>
                <%= label f, :password, class: "form-label" %>
                <%= password_input f, :password, class: "block border border-grey-light w-full p-3 rounded mb-4" %>


                <p class="text-red-900"><%= error_tag f, :password_confirmation %></p>
                <%= label f, :password_confirmation, class: "form-label" %>
                <%= password_input f, :password_confirmation, class: "block border border-grey-light w-full p-3 rounded mb-4" %>
                <%= submit "Sign up", class: "w-full text-center py-3 rounded bg-indigo-600 text-white hover:bg-indigo-800 focus:outline-none my-1" %>
               <% end %>
                <div class="text-center text-sm text-grey-dark mt-4">
                    By signing up, you agree to the
                    <a class="no-underline border-b border-grey-dark text-grey-dark" href="#">
                        Terms of Service
                    </a> and
                    <a class="no-underline border-b border-grey-dark text-grey-dark" href="#">
                        Privacy Policy
                    </a>
                </div>
            </div>

            <div class="text-grey-dark mt-6">
                Already have an account?
                <a class="no-underline border-b border-blue text-blue" href=<%= Routes.pow_session_path(@conn, :new) %>>
                      Already have an account?, Log in
                </a>
            </div>
        </div>
    </div>