<h1 class="text-3xl font-extrabold leading-10 tracking-tight text-left text-gray-900 sm:leading-none"><span class="relative px-4 mt-2 text-transparent bg-clip-text bg-gradient-to-br from-indigo-600 to-indigo-500 md:inline-block">> Add Fish Session</span></h1>
<%= render "form.html", Map.put(assigns, :action, Routes.fishdays_path(@conn, :update, @fishdays)) %>