<div class="px-4 py-16 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8 lg:py-20">
  <div class="flex flex-col lg:flex-row">
  <div class="lg:w-2/5 md:px-6">
            <div class="flex relative pb-12">
              <div class="h-full w-10 absolute inset-0 flex items-center justify-center">
                <div class="h-full w-1 bg-gray-200 pointer-events-none"></div>
              </div>
              <div class="flex-shrink-0 w-10 h-10 rounded-full bg-indigo-500 inline-flex items-center justify-center text-white relative z-10">
                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                  <path d="M12 22s8-4 8-10V5l-8-3-8 3v7c0 6 8 10 8 10z"></path>
                </svg>
              </div>
              <div class="flex-grow pl-4">
                <h2 class="font-medium title-font text-sm text-gray-900 mb-1 tracking-wider">STEP 1</h2>
                <p class="leading-relaxed">Select your fishing location. Don't worry, we don't need the exact point of the spot. <b>We also keep your data secret</b></p>
              </div>
            </div>
            <div class="flex relative pb-12">
              <div class="h-full w-10 absolute inset-0 flex items-center justify-center">
                <div class="h-full w-1 bg-gray-200 pointer-events-none"></div>
              </div>
              <div class="flex-shrink-0 w-10 h-10 rounded-full bg-indigo-500 inline-flex items-center justify-center text-white relative z-10">
                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                  <path d="M22 12h-4l-3 9L9 3l-3 9H2"></path>
                </svg>
              </div>
              <div class="flex-grow pl-4">
                <h2 class="font-medium title-font text-sm text-gray-900 mb-1 tracking-wider">STEP 2</h2>
                <p class="leading-relaxed">Enter the fish sessions details: give it a name, select the day, the hours and tell us the fishing score. The fishing score ca be between 1 and 10. 1 is used when,in your opinion, there we're not a good fishing activity or were impossibile to gish. 10 is your glory day! </p>
              </div>
            </div>
            <div class="flex relative pb-12">
              <div class="h-full w-10 absolute inset-0 flex items-center justify-center">
                <div class="h-full w-1 bg-gray-200 pointer-events-none"></div>
              </div>
              <div class="flex-shrink-0 w-10 h-10 rounded-full bg-indigo-500 inline-flex items-center justify-center text-white relative z-10">
                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                  <path d="M22 11.08V12a10 10 0 11-5.93-9.14"></path>
                  <path d="M22 4L12 14.01l-3-3"></path>
                </svg>
              </div>
              <div class="flex-grow pl-4">
                <h2 class="font-medium title-font text-sm text-gray-900 mb-1 tracking-wider">STEP 3</h2>
                <p class="leading-relaxed">Save the session and enjoy the all the info about the wheater conditions</p>
              </div>
            </div>
            <div class="flex relative pb-12">
              <div class="h-full w-10 absolute inset-0 flex items-center justify-center">
                <div class="h-full w-1 bg-gray-200 pointer-events-none"></div>
              </div>
              <div class="flex-shrink-0 w-10 h-10 rounded-full bg-indigo-500 inline-flex items-center justify-center text-white relative z-10">
                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                  <circle cx="12" cy="5" r="3"></circle>
                  <path d="M12 22V8M5 12H2a10 10 0 0020 0h-3"></path>
                </svg>
              </div>
              <div class="flex-grow pl-4">
                <h2 class="font-medium title-font text-sm text-gray-900 mb-1 tracking-wider">STEP 4</h2>
                <p class="leading-relaxed">Once we have two or more fishing sessions, you can compare the conditions between them</p>
              </div>
            </div>
       </div>


    <div class="lg:w-3/5">
      <div class="container">

              <div>
                 <%= if Map.has_key?(assigns, :fishdays) do %>
                                <leaflet-map lat="<%= @fishdays.latitude %>" lng="<%= @fishdays.longitude %>">
                                </leaflet-map>
                          <% else %>
                              <leaflet-map lat="41.1" lng="13.1">
                              </leaflet-map>
                          <% end %>
              <div class="py-4">
                  <%= form_for @changeset, @action, fn f -> %>
                      <%= if @changeset.action do %>
                        <div class="alert alert-danger">
                          <p>Oops, something went wrong! Please check the errors below.</p>
                        </div>
                      <% end %>
                    <div class="-mx-3 md:flex mb-6">
                      <div class="md:w-1/2 px-3 mb-6 md:mb-0">
                        <label class="block uppercase tracking-wide text-grey-darker text-xs font-bold mb-2" for="latitide">Latitude</label>
                            <%= number_input f, :latitude, step: "any", class: "appearance-none block w-full bg-grey-lighter text-grey-darker border border-red rounded py-3 px-4 mb-3", id: "latitude"%>
                            <%= error_tag f, :latitude %>
                        <p class="text-red text-xs italic">Please click on the map to identify your spot area.</p>
                      </div>
                      <div class="md:w-1/2 px-3">
                        <label class="block uppercase tracking-wide text-grey-darker text-xs font-bold mb-2" for="longitude">Longitude</label>
                          <%= number_input f, :longitude, step: "any", class: "appearance-none block w-full bg-grey-lighter text-grey-darker border border-grey-lighter rounded py-3 px-4", id: "longitude" %>
                          <%= error_tag f, :longitude %>
                      </div>
                    </div>
                    <div class="-mx-3 md:flex mb-6">
                      <div class="md:w-full px-3">
                        <label class="block uppercase tracking-wide text-grey-darker text-xs font-bold mb-2" for="grid-password">Name</label>
                          <%= text_input f, :name, class: "appearance-none block w-full bg-grey-lighter text-grey-darker border border-grey-lighter rounded py-3 px-4 mb-3" %>
                          <%= error_tag f, :name %>
                        <p class="text-grey-dark text-xs italic">Give a unique at your fishing day e.g Secret Spot 1</p>
                      </div>
                    </div>

                    <div class="-mx-3 md:flex mb-6">
                      <div class="md:w-full px-3">
                        <label class="block uppercase tracking-wide text-grey-darker text-xs font-bold mb-2" for="grid-password">Fish Score</label>
                          <%= number_input f, :fish_score, class: "appearance-none block w-full bg-grey-lighter text-grey-darker border border-grey-lighter rounded py-3 px-4 mb-3" %>
                          <%= error_tag f, :fish_score %>
                        <p class="text-grey-dark text-xs italic">Give a fish score [1..10]</p>
                      </div>
                    </div>
                    <div class="-mx-3 md:flex mb-6">
                      <div class="md:w-full px-3">
                        <label class="block uppercase tracking-wide text-grey-darker text-xs font-bold mb-2" for="date">When</label>
                            <%= datetime_local_input f, :date, class: "appearance-none block w-full bg-grey-lighter text-grey-darker border border-grey-lighter rounded py-3 px-4 mb-3"%>
                            <%= error_tag f, :date %>

                        <p class="text-grey-dark text-xs italic">Select a date </p>
                      </div>
                    </div>

                    <div class="-mx-3 md:flex mb-6">
                      <div class="md:w-full px-3">
                        <label class="block uppercase tracking-wide text-grey-darker text-xs font-bold mb-2" for="grid-password">Hours</label>
                          <%= number_input f, :hours, class: "appearance-none block w-full bg-grey-lighter text-grey-darker border border-grey-lighter rounded py-3 px-4 mb-3" %>
                          <%= error_tag f, :hours %>
                          <%= error_tag f, :data %>
                        <p class="text-grey-dark text-xs italic">[Session long in hours]</p>
                      </div>
                    </div>

                    <div class="-mx-3 md:flex mb-6">
                      <div class="md:w-full px-3">
                            <%= submit "Save", class: "inline-flex items-center justify-center w-full px-8 py-4 text-base font-bold leading-6 text-white bg-indigo-600 border border-transparent rounded-full md:w-auto hover:bg-indigo-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-600"%>
                      </div>
                    </div>
                  <% end %>
              </div>

              </div>
          </div>
    </div>
  </div>
  </div>
</div>