<h1 class="text-3xl font-extrabold leading-10 tracking-tight text-left text-gray-900 sm:leading-none"><span class="relative text-transparent bg-clip-text bg-gradient-to-br from-indigo-600 to-indigo-500 md:inline-block">></span> Fish Sessions</h1>
<div class="w-full">
    <div class="bg-white shadow shadow-md shadow-indigo-600 my-6 border border-indigo-600 border-2">
        <table class="min-w-max w-full table-auto">
            <thead>
                <tr class="bg-indigo-600 text-white uppercase text-sm leading-normal">
                    <th class="py-3 px-6 text-left">Date</th>
                    <th class="py-3 px-6 text-left">Where</th>
                    <th class="py-3 px-6 text-center">Hours</th>
                    <th class="py-3 px-6 text-center">Score</th>
                    <th class="py-3 px-6 text-center">Actions</th>
                </tr>
            </thead>
            <tbody class="text-gray-600 text-sm font-light">
             <%= for fishdays <- @fishdays do %>

             <tr class="border-b border-gray-200 hover:bg-gray-100">
                 <td class="py-3 px-6 text-left whitespace-nowrap">
                     <div class="flex items-center">
                         <div class="mr-2">

                         </div>
                        <svg width="48px" height="48px" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 7V3m8 4V3m-9 8h10M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z" />
                        </svg>
                         <span class="font-medium px-2">
                         <%= date_format fishdays.date %>
                         </span>
                     </div>
                 </td>
                 <td class="py-3 px-6 text-left">
                     <div class="flex items-center">
                         <div class="mr-2">
                             <img class="w-6 h-6 rounded-full" src="https://randomuser.me/api/portraits/men/1.jpg"/>
                         </div>
                         <span><%= fishdays.location %></span>
                     </div>
                 </td>
                 <td class="py-3 px-6 text-center">
                     <div class="flex items-center justify-center">
                     <span class="font-medium"><%= fishdays.hours %>h</span>
                     </div>
                 </td>
                 <td class="py-3 px-6 text-center">
                   <%= render "score.html", fish_score: fishdays.fish_score %>
                 </td>
                 <td class="py-3 px-6 text-center">
                     <div class="flex item-center justify-center">
                         <div class="w-4 mr-2 transform hover:text-purple-500 hover:scale-110">

                         <%= link to: Routes.fishdays_path(@conn, :show, fishdays) do %>
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z" />
                            </svg>
                          <% end %>


                         </div>
                         <div class="w-4 mr-2 transform hover:text-purple-500 hover:scale-110">

                         <%= link to: Routes.fishdays_path(@conn, :edit, fishdays) do %>
                             <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                 <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z" />
                             </svg>
                          <% end %>


                         </div>
                         <div class="w-4 mr-2 transform hover:text-purple-500 hover:scale-110">
                         <%= link to: Routes.fishdays_path(@conn, :delete, fishdays) do %>
                             <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                 <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
                             </svg>
                          <% end %>

                         </div>
                     </div>
                 </td>
             </tr>

             <% end %>


            </tbody>
        </table>
    </div>
</div>