<h1 class="text-3xl font-extrabold leading-10 tracking-tight text-left text-gray-900 sm:leading-none">
<span class="relative text-transparent bg-clip-text bg-gradient-to-br from-indigo-600 to-indigo-500 md:inline-block">></span>Add Fish Session</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.fishdays_path(@conn, :create)) %>

<span><%= link "Back", to: Routes.fishdays_path(@conn, :index) %></span>


