<%= if @fish_score < 5 do %>
           <span class="bg-red-600 text-white py-1 px-3 rounded-full text-xs"><%= @fish_score %></span>
<% end %>
<%= if @fish_score >= 5 && @fish_score < 7 do%>
           <span class="bg-yellow-600 text-white py-1 px-3 rounded-full text-xs"><%= @fish_score %></span>
<% end %>
<%= if @fish_score >= 7 do%>
           <span class="bg-green-600 text-white py-1 px-3 rounded-full text-xs"><%= @fish_score %></span>
<% end %>