<h1 class="text-3xl font-extrabold leading-10 tracking-tight text-left text-gray-900 sm:leading-none"><span class="relative text-transparent bg-clip-text bg-gradient-to-br from-indigo-600 to-indigo-500 md:inline-block">></span> Fish Session</h1>
<div class="flex-1 min-w-0 py-4">
    <div class="mt-1 flex flex-col sm:flex-row sm:flex-wrap sm:mt-0 sm:space-x-6">
      <div class="mt-2 flex items-center text-sm text-gray-500">

        <svg class="flex-shrink-0 mr-1.5 h-5 w-5 text-indigo-600" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 20l-5.447-2.724A1 1 0 013 16.382V5.618a1 1 0 011.447-.894L9 7m0 13l6-3m-6 3V7m6 10l4.553 2.276A1 1 0 0021 18.382V7.618a1 1 0 00-.553-.894L15 4m0 13V4m0 0L9 7" />
        </svg>
        <span><%=@fishdays.location %></span>
      </div>
      <div class="mt-2 flex items-center text-sm text-gray-500">
         <%= render "score.html", fish_score: @fishdays.fish_score %>
      </div>
      <div class="mt-2 flex items-center text-sm text-gray-500">
        <!-- Heroicon name: solid/currency-dollar -->
        <svg  class="flex-shrink-0 mr-1.5 h-5 w-5 text-indigo-600" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 8v4l3 3m6-3a9 9 0 11-18 0 9 9 0 0118 0z" />
        </svg>

        <%= @fishdays.hours %> hours
      </div>
      <div class="mt-2 flex items-center text-sm text-gray-500">
        <!-- Heroicon name: solid/calendar -->
        <svg class="flex-shrink-0 mr-1.5 h-5 w-5 text-indigo-600" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 7V3m8 4V3m-9 8h10M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z" />
         </svg>
        <%= date_format @fishdays.date %>
      </div>
    </div>
  </div>
<div class="py-2 flex flex-col lg:flex-row">
 <div class="lg:w-1/2 px-2">
  <div class=" border-indigo-600 bg-white-800 text-gray-500 rounded shadow-xl py-5 px-5" x-data="{chartData:chartDataWaves()}" x-init="chartData.fetch(<%=  Jason.encode!(%{data: @fishdays.data, hours: @fishdays.hours, start: @fishdays.date}) %>)">
         <div class="flex flex-wrap items-end">
             <div class="relative" @click.away="chartData.showDropdown=false">
                 <button class="text-xs hover:text-gray-300 h-6 focus:outline-none" @click="chartData.showDropdown=!chartData.showDropdown">
                     <span x-text="chartData.options[chartData.selectedOption].label"></span><i class="ml-1 mdi mdi-chevron-down"></i>
                 </button>
                 <div class="bg-gray-700 shadow-lg rounded text-sm absolute top-auto right-0 min-w-full w-32 z-30 mt-1 -mr-3" x-show="chartData.showDropdown" style="display: none;" x-transition:enter="transition ease duration-300 transform" x-transition:enter-start="opacity-0 translate-y-2" x-transition:enter-end="opacity-100 translate-y-0" x-transition:leave="transition ease duration-300 transform" x-transition:leave-start="opacity-100 translate-y-0" x-transition:leave-end="opacity-0 translate-y-4">
                     <span class="absolute top-0 right-0 w-3 h-3 bg-gray-700 transform rotate-45 -mt-1 mr-3"></span>
                     <div class="bg-gray-700 rounded w-full relative z-10 py-1">
                         <ul class="list-reset text-xs">
                             <template x-for="(item,index) in chartData.options">
                                 <li class="px-4 py-2 hover:bg-gray-600 hover:text-white transition-colors duration-100 cursor-pointer" :class="{'text-white':index==chartData.selectedOption}" @click="chartData.selectOption(index);chartData.showDropdown=false">
                                     <span x-text="item.label"></span>
                                 </li>
                             </template>
                         </ul>
                     </div>
                 </div>
             </div>
         </div>
         <div>
             <canvas id="chart-waves" class="w-full"></canvas>
         </div>
     </div></div>
 <div class="lg:w-1/2 px-2">
   <div class=" border-indigo-600 bg-white-800 text-gray-500 rounded shadow-xl py-5 px-5" x-data="{chartData:chartDataAirTemperatures()}" x-init="chartData.fetch(<%=  Jason.encode!(%{data: @fishdays.data, hours: @fishdays.hours, start: @fishdays.date}) %>)">
          <div class="flex flex-wrap items-end">
              <div class="relative" @click.away="chartData.showDropdown=false">
                  <button class="text-xs hover:text-gray-300 h-6 focus:outline-none" @click="chartData.showDropdown=!chartData.showDropdown">
                      <span x-text="chartData.options[chartData.selectedOption].label"></span><i class="ml-1 mdi mdi-chevron-down"></i>
                  </button>
                  <div class="bg-gray-700 shadow-lg rounded text-sm absolute top-auto right-0 min-w-full w-32 z-30 mt-1 -mr-3" x-show="chartData.showDropdown" style="display: none;" x-transition:enter="transition ease duration-300 transform" x-transition:enter-start="opacity-0 translate-y-2" x-transition:enter-end="opacity-100 translate-y-0" x-transition:leave="transition ease duration-300 transform" x-transition:leave-start="opacity-100 translate-y-0" x-transition:leave-end="opacity-0 translate-y-4">
                      <span class="absolute top-0 right-0 w-3 h-3 bg-gray-700 transform rotate-45 -mt-1 mr-3"></span>
                      <div class="bg-gray-700 rounded w-full relative z-10 py-1">
                          <ul class="list-reset text-xs">
                              <template x-for="(item,index) in chartData.options">
                                  <li class="px-4 py-2 hover:bg-gray-600 hover:text-white transition-colors duration-100 cursor-pointer" :class="{'text-white':index==chartData.selectedOption}" @click="chartData.selectOption(index);chartData.showDropdown=false">
                                      <span x-text="item.label"></span>
                                  </li>
                              </template>
                          </ul>
                      </div>
                  </div>
              </div>
          </div>
          <div>
              <canvas id="chart-air-temperature" class="w-full"></canvas>
          </div>
      </div>
  </div>
</div>

<div class="py-2 flex flex-col lg:flex-row">
 <div class="lg:w-1/2 px-2">
     <div class=" border-indigo-600 bg-white-800 text-gray-500 rounded shadow-xl py-5 px-5" x-data="{chartData:chartDataPressure()}" x-init="chartData.fetch(<%=  Jason.encode!(%{data: @fishdays.data, hours: @fishdays.hours, start: @fishdays.date}) %>)">
            <div class="flex flex-wrap items-end">
                <div class="relative" @click.away="chartData.showDropdown=false">
                    <button class="text-xs hover:text-gray-300 h-6 focus:outline-none" @click="chartData.showDropdown=!chartData.showDropdown">
                        <span x-text="chartData.options[chartData.selectedOption].label"></span><i class="ml-1 mdi mdi-chevron-down"></i>
                    </button>
                    <div class="bg-gray-700 shadow-lg rounded text-sm absolute top-auto right-0 min-w-full w-32 z-30 mt-1 -mr-3" x-show="chartData.showDropdown" style="display: none;" x-transition:enter="transition ease duration-300 transform" x-transition:enter-start="opacity-0 translate-y-2" x-transition:enter-end="opacity-100 translate-y-0" x-transition:leave="transition ease duration-300 transform" x-transition:leave-start="opacity-100 translate-y-0" x-transition:leave-end="opacity-0 translate-y-4">
                        <span class="absolute top-0 right-0 w-3 h-3 bg-gray-700 transform rotate-45 -mt-1 mr-3"></span>
                        <div class="bg-gray-700 rounded w-full relative z-10 py-1">
                            <ul class="list-reset text-xs">
                                <template x-for="(item,index) in chartData.options">
                                    <li class="px-4 py-2 hover:bg-gray-600 hover:text-white transition-colors duration-100 cursor-pointer" :class="{'text-white':index==chartData.selectedOption}" @click="chartData.selectOption(index);chartData.showDropdown=false">
                                        <span x-text="item.label"></span>
                                    </li>
                                </template>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <canvas id="chart-data-pressure" class="w-full"></canvas>
            </div>
        </div>
 </div>
 <div class="lg:w-1/2 px-2">
      <div class=" border-indigo-600 bg-white-800 text-gray-500 rounded shadow-xl py-5 px-5" x-data="{chartData:chartDataWind()}" x-init="chartData.fetch(<%=  Jason.encode!(%{data: @fishdays.data, hours: @fishdays.hours, start: @fishdays.date}) %>)">
             <div class="flex flex-wrap items-end">
                 <div class="relative" @click.away="chartData.showDropdown=false">
                     <button class="text-xs hover:text-gray-300 h-6 focus:outline-none" @click="chartData.showDropdown=!chartData.showDropdown">
                         <span x-text="chartData.options[chartData.selectedOption].label"></span><i class="ml-1 mdi mdi-chevron-down"></i>
                     </button>
                     <div class="bg-gray-700 shadow-lg rounded text-sm absolute top-auto right-0 min-w-full w-32 z-30 mt-1 -mr-3" x-show="chartData.showDropdown" style="display: none;" x-transition:enter="transition ease duration-300 transform" x-transition:enter-start="opacity-0 translate-y-2" x-transition:enter-end="opacity-100 translate-y-0" x-transition:leave="transition ease duration-300 transform" x-transition:leave-start="opacity-100 translate-y-0" x-transition:leave-end="opacity-0 translate-y-4">
                         <span class="absolute top-0 right-0 w-3 h-3 bg-gray-700 transform rotate-45 -mt-1 mr-3"></span>
                         <div class="bg-gray-700 rounded w-full relative z-10 py-1">
                             <ul class="list-reset text-xs">
                                 <template x-for="(item,index) in chartData.options">
                                     <li class="px-4 py-2 hover:bg-gray-600 hover:text-white transition-colors duration-100 cursor-pointer" :class="{'text-white':index==chartData.selectedOption}" @click="chartData.selectOption(index);chartData.showDropdown=false">
                                         <span x-text="item.label"></span>
                                     </li>
                                 </template>
                             </ul>
                         </div>
                     </div>
                 </div>
             </div>
             <div>
                 <canvas id="chart-data-wind" class="w-full"></canvas>
             </div>
         </div>
  </div>
</div>

<div class="py-2 flex flex-col lg:flex-row">
 <div class="lg:w-1/2 px-2">
        <div class=" border-indigo-600 bg-white-800 text-gray-500 rounded shadow-xl py-5 px-5" x-data="{chartData:chartDataTide()}" x-init="chartData.fetch(<%=  Jason.encode!(%{data: @fishdays.data, hours: @fishdays.hours, start: @fishdays.date}) %>)">
               <div class="flex flex-wrap items-end">
                   <div class="relative" @click.away="chartData.showDropdown=false">
                       <button class="text-xs hover:text-gray-300 h-6 focus:outline-none" @click="chartData.showDropdown=!chartData.showDropdown">
                           <span x-text="chartData.options[chartData.selectedOption].label"></span><i class="ml-1 mdi mdi-chevron-down"></i>
                       </button>
                       <div class="bg-gray-700 shadow-lg rounded text-sm absolute top-auto right-0 min-w-full w-32 z-30 mt-1 -mr-3" x-show="chartData.showDropdown" style="display: none;" x-transition:enter="transition ease duration-300 transform" x-transition:enter-start="opacity-0 translate-y-2" x-transition:enter-end="opacity-100 translate-y-0" x-transition:leave="transition ease duration-300 transform" x-transition:leave-start="opacity-100 translate-y-0" x-transition:leave-end="opacity-0 translate-y-4">
                           <span class="absolute top-0 right-0 w-3 h-3 bg-gray-700 transform rotate-45 -mt-1 mr-3"></span>
                           <div class="bg-gray-700 rounded w-full relative z-10 py-1">
                               <ul class="list-reset text-xs">
                                   <template x-for="(item,index) in chartData.options">
                                       <li class="px-4 py-2 hover:bg-gray-600 hover:text-white transition-colors duration-100 cursor-pointer" :class="{'text-white':index==chartData.selectedOption}" @click="chartData.selectOption(index);chartData.showDropdown=false">
                                           <span x-text="item.label"></span>
                                       </li>
                                   </template>
                               </ul>
                           </div>
                       </div>
                   </div>
               </div>
               <div>
                   <canvas id="chart-data-tide" class="w-full"></canvas>
               </div>
           </div>
    </div>
 <div class="lg:w-1/2 px-2">
        <div class=" border-indigo-600 bg-white-800 text-gray-500 rounded shadow-xl py-5 px-5" x-data="{chartData:chartDataWindDirection()}" x-init="chartData.fetch(<%=  Jason.encode!(%{data: @fishdays.data, hours: @fishdays.hours, start: @fishdays.date}) %>)">
               <div class="flex flex-wrap items-end">
                   <div class="relative" @click.away="chartData.showDropdown=false">
                       <button class="text-xs hover:text-gray-300 h-6 focus:outline-none" @click="chartData.showDropdown=!chartData.showDropdown">
                           <span x-text="chartData.options[chartData.selectedOption].label"></span><i class="ml-1 mdi mdi-chevron-down"></i>
                       </button>
                       <div class="bg-gray-700 shadow-lg rounded text-sm absolute top-auto right-0 min-w-full w-32 z-30 mt-1 -mr-3" x-show="chartData.showDropdown" style="display: none;" x-transition:enter="transition ease duration-300 transform" x-transition:enter-start="opacity-0 translate-y-2" x-transition:enter-end="opacity-100 translate-y-0" x-transition:leave="transition ease duration-300 transform" x-transition:leave-start="opacity-100 translate-y-0" x-transition:leave-end="opacity-0 translate-y-4">
                           <span class="absolute top-0 right-0 w-3 h-3 bg-gray-700 transform rotate-45 -mt-1 mr-3"></span>
                           <div class="bg-gray-700 rounded w-full relative z-10 py-1">
                               <ul class="list-reset text-xs">
                                   <template x-for="(item,index) in chartData.options">
                                       <li class="px-4 py-2 hover:bg-gray-600 hover:text-white transition-colors duration-100 cursor-pointer" :class="{'text-white':index==chartData.selectedOption}" @click="chartData.selectOption(index);chartData.showDropdown=false">
                                           <span x-text="item.label"></span>
                                       </li>
                                   </template>
                               </ul>
                           </div>
                       </div>
                   </div>
               </div>
               <div>
                   <svg id="windrose" width="540" height="300" font-family="sans-serif" font-size="10"></svg>
               </div>
           </div>
 </div>
</div>


<div class="w-full justify-center container mx-auto" x-data="{fishHours:fishHours()}" x-init="fishHours.fetch(<%=  Jason.encode!(%{data: @fishdays.data, hours: @fishdays.hours, start: @fishdays.date}) %>)">
    <template x-for="fishHour in fishHours.fishHours">
        <div class="flex flex-wrap w-full lg:w-auto py-2">
            <div class="w-full lg:w-1/4 flex">
                <div class="py-6 pl-8 w-full bg-indigo-600 opacity-90 text-white">
                    <div>
                        <p class="flex aling-center">

                        <svg class=" w-4 inline mr-1" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 8v4l3 3m6-3a9 9 0 11-18 0 9 9 0 0118 0z" />
                       </svg>
                       <text x="0" y="32" x-text="fishHour.time"></text>
                        </p>


                        <p class="flex aling-center opacity-75">
                        <svg class=" w-4 inline mr-1" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17.657 16.657L13.414 20.9a1.998 1.998 0 01-2.827 0l-4.244-4.243a8 8 0 1111.314 0z" />
                          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 11a3 3 0 11-6 0 3 3 0 016 0z" />
                        </svg>
                        <text x="0" y="32" x-text="fishHours.location()"></text>
                        </p>
                    </div>

                </div>
            </div>

            <div class="w-full lg:w-3/4 flex ml-0">
            <div class="flex flex-wrap grid grid-cols-3 gap-4">
                <div class="lg:my-2 bg-white text-black p-8 border-2 border-indigo-600 lg:rounded-r-lg w-full">
                    <div>
                        <p class="flex aling-center">

                        <svg class=" w-4 inline mr-1" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 8v4l3 3m6-3a9 9 0 11-18 0 9 9 0 0118 0z" />
                       </svg>
                       <text x="0" y="32" x-text="fishHour.time"></text>
                        </p>


                        <p class="flex aling-center opacity-75">
                        <svg class=" w-4 inline mr-1" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17.657 16.657L13.414 20.9a1.998 1.998 0 01-2.827 0l-4.244-4.243a8 8 0 1111.314 0z" />
                          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 11a3 3 0 11-6 0 3 3 0 016 0z" />
                        </svg>
                        <text x="0" y="32" x-text="fishHours.location()"></text>
                        </p>
                    </div>
                </div>
                <div class="lg:my-2 bg-white text-black p-8 border-2 border-indigo-600 lg:rounded-r-lg w-full">
                    <div>
                        <p class="flex aling-center">

                        <svg class=" w-4 inline mr-1" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 8v4l3 3m6-3a9 9 0 11-18 0 9 9 0 0118 0z" />
                       </svg>
                       <text x="0" y="32" x-text="fishHour.time"></text>
                        </p>


                        <p class="flex aling-center opacity-75">
                        <svg class=" w-4 inline mr-1" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17.657 16.657L13.414 20.9a1.998 1.998 0 01-2.827 0l-4.244-4.243a8 8 0 1111.314 0z" />
                          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 11a3 3 0 11-6 0 3 3 0 016 0z" />
                        </svg>
                        <text x="0" y="32" x-text="fishHours.location()"></text>
                        </p>
                    </div>
                </div>
                <div class="lg:my-2 bg-white text-black p-8 border-2 border-indigo-600 lg:rounded-r-lg w-full">
                    <div>
                        <p class="flex aling-center">

                        <svg class=" w-4 inline mr-1" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 8v4l3 3m6-3a9 9 0 11-18 0 9 9 0 0118 0z" />
                       </svg>
                       <text x="0" y="32" x-text="fishHour.time"></text>
                        </p>


                        <p class="flex aling-center opacity-75">
                        <svg class=" w-4 inline mr-1" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17.657 16.657L13.414 20.9a1.998 1.998 0 01-2.827 0l-4.244-4.243a8 8 0 1111.314 0z" />
                          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 11a3 3 0 11-6 0 3 3 0 016 0z" />
                        </svg>
                        <text x="0" y="32" x-text="fishHours.location()"></text>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </template>
</div>


<span><%= link "Edit", to: Routes.fishdays_path(@conn, :edit, @fishdays) %></span>
<span><%= link "Back", to: Routes.fishdays_path(@conn, :index) %></span>